html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.cover-nav ul {
    margin: 0;
}
.cover {
    background-image: url("coverwall.jpg");
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.cover-nav h1 {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 47%;
}
